body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: black;
}

.container {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:hover {
  box-shadow: 2px 2px 8px black;
}
#btn {
  width: 10rem;
  height: 2rem;
  background-color: green;
  color: #fff;
  margin: 20px 10px 0 0;
  cursor: pointer;
}
.entries {
  width: 100%;
  align-items: center;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
table th {
  padding: 15px;
}
table td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  text-align: center;
}
